.navbar
  .navbar-inner
    .container
      = link_to '设备管理系统', root_path, :class=>'brand'
      %ul.nav
        %li.active
          = link_to '设备管理', root_path
        %li
          = link_to '制造管理', root_path
        %li
          = link_to '品质管理', root_path
        %li.dropdown
          %a.dropdown-toggle{'data-toggle'=>"dropdown", :href=>'#'}
            系统管理
            %b.caret
          %ul.dropdown-menu
            %li= link_to '用户管理', root_path
            %li= link_to '修改密码', root_path
            %li= link_to '权限设置', root_path

      %ul.nav.pull-right
        %li
          = link_to '登录', root_path
        %li
          = link_to '注销', root_path

.container-fluid
  .row-fluid
    .span2
      .well
        %ul.nav.nav-list
          %li.nav-header 日常管理
          %li= link_to '维修改申请', root_path
          %li= link_to '维修跟踪', root_path
          %li= link_to '设备维修', root_path
          %li= link_to '调度申请', root_path
          %li.nav-header 日常管理
          %li= link_to '部门', root_path
          %li= link_to '人员', root_path
          %li= link_to '工段', root_path
          %li= link_to '设备', root_path
          %li= link_to '故障', root_path
    .span10
      %ul.breadcrumb
        %li
          =link_to 'Home', root_path
          %span.divider
            = "/"
        %li
          =link_to 'Room', root_path
          %span.divider
            = "/"
        %li.active Data

      .hero-unit
        a
