.well
  %ul.nav.nav-list
    %li.nav-header 日常管理
    %li= link_to '维修改申请', root_path
    %li= link_to '维修跟踪', root_path
    %li= link_to '设备维修', root_path
    %li= link_to '调度申请', root_path
    %li.nav-header 日常管理
    %li= link_to '部门', depts_path
    %li= link_to '人员', users_path
    %li= link_to '工段', root_path
    %li= link_to '设备', root_path
    %li= link_to '故障', root_path
